/* Form styles */
.form {
  width: 250px;
  margin: 40px auto;
  background-color: #e6e6e6;
  padding: 20px;
  box-shadow: 2px 2px 10px gray;
  border-radius: 5px;
}

/* Buttons styles */
button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  color: white;
  background-color: #33cccc;
  border-radius: 5px;
  cursor: pointer;
}

.quit {
  background-color: red;
  display: none;
}

/* Quotation styles */
.generated-quote {
  text-align: center;
  font-size: 2rem;
  color: #4d4d4d;
}

